::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #232323;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-color: black;
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: #1B1B1B;
    top: 0;
}

.navbar img {
    width: 8%;
    float: left;
}

.navbar a {
    float: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    border: none;
    outline: none;
    color: white;
    padding: 15px 25px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #FF9000;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    background-color: #232323;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.brrrr {
    height: 15000px;
}